/* Created by: Yuri G
* Created on: Feb 2023
* This file contains the CSS for index.html
*/

body {
  background-color: powderblue;
}

h1 {
  background-color: rgb(38, 109, 35);
  color: hsl(0deg, 0%, 100%);
  padding: 40px;
  text-align: center;
}

p {
  background-color: #f0f;
}
